.albums {
    box-sizing: border-box;
    display: inline-block;
    
    
}

.pic {
        /* width: 30%;
        height: 30%; */
        /* margin: auto; */
        /* float: left; */
        max-width: 70%;
       
    }
.imageContainer {
    text-align: center;
}
.navItems {
   list-style-type: none;
   background-color: grey;
   margin: -10px;
   width: 100%;
   height: 20vh;
}
li {
    display: inline-block;
    margin: 5%;
    text-align: center;
    color: white;
}

.interests {
    display: inline-block;
    margin: 5%;
    text-align: center;
    color: black;
}

.nav {
    position: fixed;
    width: 100vw;
    text-align: center;
    top: 0px;
    height: 10px;
    
   
    
}

body {
    font-family: avenir;
    /* background-image: url('background.jpg');
    background-size: 100%;
    background-repeat: no-repeat; */
    
}

.intro {
    margin-top: 20vh;
    /* background-image: url("xavierRudd.jpg"); */
}

.image {
    display: inline-block;
    width: 150px;
    height: 150px;


}

.title a:visited {
    color: white;
}
.title a:link {
    text-decoration: none;
}
.title a:hover {
    font-weight: bold;
    
}

.title a:active {
    font-weight: bold;
    color: black;
}


.filler {
    display: block;
    height: 20vh; /*same height as header*/
    margin-top: -20vh; /*same height as header*/
    visibility: hidden;
}

footer {
    display: block;
}

.bottomDiv {
    height: 100px;
}

h1, h2 {
    text-align: center;
    color: #454343;
}